
body {
  font-size: 16px;
  color: #fff;
  background-color: #2E323C; /*. creosote  */
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #2B4251; /* slate */
  border-radius: 0;
  border: 0;
}
/** HEADER **/
#logo-img {
  width: 0px;
  height: 0px;
  margin: 0px 0px 0px 0px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Name */
  font-family: 'Oxygen', sans-serif;
  color: #91B3BC; /* dew */
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  /*text-shadow: 1px 1px 1px #36384C;*/
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p { 
  color: #000;
  text-transform: uppercase;   
  margin-top: 0px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
  font-size: 1.2em;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #91B3BC; /* dew */
  text-align: center;
}
#nav-list a:hover {
  color: #DDDDDD; /*. creosote  */
} 
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #91B3BC; /* dew */
  background-color: #2E323C; /*. creosote*/
}
.navbar-header button.navbar-toggle:hover {
  background-color: #2E323C;

}
.navbar-header button.navbar-toggle:active {
  background-color: #2E323C;

}
.navbar-header button.navbar-toggle:visited {
  background-color: #2E323C;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -65px;
  background-color: #2E323C; /*. creosote  */
}


.container .jumbotron {

  background-color: #2E323C; /*. creosote  */
}

.tick line {
  stroke: #E9DCCD;
  stroke-opacity:.3;
}
.xgrid .domain{
	stroke-width: 0px;
}
.ygrid .domain{
	stroke-width: 0px;
}

.container .jumbotron {
    height: 500px;
  }
path.region {
	fill: #45415E;
  opacity: .4;
  border: 2px solid black;
}




/********** Large devices only **********/
@media (min-width: 1200px) {
	.container .jumbotron {
    margin-top: 30px;
    height: 500px;
    padding: 0;
  }
  #header-nav {
  height:120px;
}
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    height: 500px;
    padding: 0;
  }



  #header-nav {
  height:120px;
}
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    height: 500px;
    padding: 0;
  }
  .navbar-brand {
    padding-top: 25px;
    height:80px;
  }
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height:80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  .navbar-brand p span { /* Star-K */
  vertical-align: middle;
  font-size: 3vw;
}

  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid black; /* dew */
    background-color: #91B3BC; /* dew */
    color: #91B3BC; /* dew */;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    height: 500px;
    padding: 0;
  }

}










